{{>additionalEnumTypeAnnotations}}public enum {{datatypeWithEnum}} {
    {{#allowableValues}}
    {{#enumVars}}{{name}}{{^-last}},
    {{/-last}}{{#-last}};{{/-last}}{{/enumVars}}
    {{/allowableValues}}
  }
