
/**
 * {{description}}{{^description}}{{{name}}}{{/description}}。
 */
{{>additionalEnumTypeAnnotations}}public enum {{{classname}}} {
  {{#allowableValues}}{{#enumVars}}{{#enumDescription}}/** {{.}}。*/
  {{/enumDescription}}
  {{{name}}}{{^-last}},
  {{/-last}}{{#-last}};{{/-last}}{{/enumVars}}{{/allowableValues}}
}
